* {
  box-sizing: border-box;
}

/* Body styles */
body {
  background: linear-gradient(to bottom, #ffffff, #023a24) no-repeat;
  font-family: Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/* Header styles */
header {
  text-align: center;
  background-color: #00432a;
  color: #fff;
  padding: 15px;
  border-radius: 8px;
}

/* Navigation styles */

nav ul {
  display: flex;
  justify-content: center;
  padding: 10px 5px 10px 5px;
  background-color: #00432a;
  border-radius: 8px;
  list-style-type: none;
}

nav ul li {
  margin: 0px 15px 0px 15px
}

nav a {
  text-decoration: none;
  color: #d3e2eb;
  font-weight: bold;
}


/* Headings */
h1 {
  font-family: Arial, sans-serif;
  font-size: 2.5em;
  color: #e0f7fa;
}

h2 {
  font-family: Arial, sans-serif;
  color: #00432a;
}

h3 {
  font-family: Arial, sans-serif;
  color: #00432a;
}

#homeH2 {
  font-family: Arial, sans-serif;
  color: #004d40;
  font-size: large;
  text-align: center;
  margin-bottom: 10px;
}

/* Wrapper */
/* .wrapper {
  margin: auto;
  width: 80%;
} */

/* Home Picture */

#homeHero {
  height: 350px;
  width: auto;
  margin: auto;
  display: flex;
  border-radius: 8px;
  background-image: url(Images/Bowen\ island\ BC,20220606.jpg);
  background-size: cover;
  background-position: center;
}

/* Containers and sections */
.container {
  padding: 10px 10px 10px 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-top: 20px;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
  line-height: 25px;
}

.column {
  flex: 1;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border: 1px solid #fff;
  border-radius: 8px;
  text-align: left;
}

.travelLayout {

  padding: 10px 10px 10px 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-top: 10px;

}

.contentLayout {
  flex: 1;
  padding: 20px;
  margin: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


/* Resume list */
#resumeLi {
  list-style-type: none;
  margin: 5px;
}

#resumeUl {
  margin: 0;
  padding: 0;
}

/* Table styles */
table {
  width: 90%;
  margin: auto;
}

#tableRow,
#tableShadow {
  flex: 1;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border: 1px solid #fff;
  border-radius: 8px;
  text-align: left;
  background-color: #ebf8f1;
}

#tableTh {
  text-align: center;
  border-radius: 8px;
}

#tableUl {
  margin: 10px;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

/* Video styles */
video {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  display: block;
  border: 2px solid #ccc;
  border-radius: 10px;
}

/* Gallery styles */

.travelColumn {
  background-color: #00432a;

}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 20px 0;
}

.thumbnail {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  border: 2px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s;
}

.thumbnail:hover {
  transform: scale(1.1);
}

/* Preview styles */
.preview {
  text-align: center;
  margin-top: 20px;
}

.preview img {
  max-width: 100%;
  max-height: 400px;
  border: 2px solid #ccc;
  border-radius: 8px;
}

#caption {
  margin-top: 10px;
}

/* Travel hero images */
#travelHero1 {
  background-image: url("Images/kish/Kish1.JPG");
}

#travelHero2 {
  background-image: url("Images/kish/Kish2.JPG");
}

#travelHero3 {
  background-image: url("Images/kish/Kish3.JPG");
}

#travelHero4 {
  background-image: url("Images/kish/Kish4.JPG");
}

#travelHero5 {
  background-image: url("Images/kish/Kish5.JPG");
}

#travelHero29 {
  background-image: url("Images/Dubai//Dubi1.JPG");
}

#travelHero30 {
  background-image: url("Images/Dubai/Dubi2.JPG");
}

#travelHero31 {
  background-image: url("Images/Dubai/Dubi3.JPG");
}

#travelHero32 {
  background-image: url("Images/Dubai/Dubi4.JPG");
}

#travelHero33 {
  background-image: url("Images/Dubai/Dubi5.JPG");
}

#travelHero36 {
  background-image: url("Images/Vancouver/Van1.jpg");
}

#travelHero37 {
  background-image: url("Images/Vancouver/Van2.jpg");
}

#travelHero38 {
  background-image: url("Images/Vancouver/Van3.jpg");
}

#travelHero39 {
  background-image: url("Images/Vancouver/Van4.jpg");
}

#travelHero40 {
  background-image: url("Images/Vancouver/Van5.jpg");
}

/* Form styles */
form {
  margin: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"],
textarea {
  width: 50%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 15px;
}

button {
  background-color: #00432a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  margin: 10px;
}

button:hover {
  background-color: #00432a;
}

/* Footer styles */
footer {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  text-align: center;
  line-height: 15px;
  font-size: x-small;
  margin-top: 10px;
  padding: 10px;
  color: #00432a;
}

footer p:last-child {
  border-top: 1px solid #ccc;
  padding: 5px 0 0;
  margin: 5px 0 0;
  font-size: x-small;
  color: #00432a;
}

/* Highlight */
.highlight {
  background-color: #5edbad;
}




/* Media queries */
@media (max-width:1024px) {

  /* Body styles */
  body {
    background: linear-gradient(to bottom, #ffffff, #023a24) no-repeat;
    font-family: Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  /* Header styles */
  header {
    text-align: center;
    background-color: #00432a;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
  }

  .sidebar {
    background-color: #00432a;
    display: flex;
    flex-direction: column;
    margin: 14px 15px 29px 10px;
    border-radius: 8px;
  }

  .sidebar ul {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 150px;
    gap: 5px;
    position:sticky;
    top:0;
    left:0;
  }

  .sidebar nav {
    height: 100%;
    border-radius: 8px;
  }

  /* Headings */
  h1 {
    font-family: Arial, sans-serif;
    font-size: 2.5em;
    color: #e0f7fa;
  }

  h2 {
    font-family: Arial, sans-serif;
    color: #00432a;
  }

  h3 {
    font-family: Arial, sans-serif;
    color: #00432a;
  }

  #homeH2 {
    font-family: Arial, sans-serif;
    color: #004d40;
    font-size: large;
    text-align: center;
    margin-bottom: 10px;
  }

  /* Containers and sections */

  .container {
    display: flex;
    margin: 15px 0px 29px 0px;
    padding: 0px 0px 0px 0px;
  }

  .section {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px 10px 15px 10px;
    padding: 0px 0px 10px 0px;
    line-height: 25px;
  }

  section:first-of-type {
    padding-bottom: 0px;
  }

  .column {
    flex: 1;
    padding: 20px;
    margin: 10px 0px 10px 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border: 1px solid #fff;
    border-radius: 8px;
    text-align: left;
  }

  .travelLayout {

    padding: 10px 10px 10px 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-top: 10px;
  }

  .contentLayout {
    padding: 15px;
    margin: 15px 15px 29px 0px;
  }


  /* Home Picture */

  #homeHero {
    height: 350px;
    width: auto;
    margin: 15px 10px 15px 10px;
    display: flex;
    border-radius: 8px;
    background-image: url(Images/Bowen\ island\ BC,20220606.jpg);
    background-size: cover;
    background-position: center;
  }

  /* Resume list */
  #resumeLi {
    list-style-type: none;
    margin: 5px;
  }

  #resumeUl {
    margin: 0;
    padding: 0;
  }

  /* Table styles */
  table {
    width: 90%;
    margin: 15px 15px 15px 15px;
  }

  #tableRow,
  #tableShadow {
    flex: 1;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border: 1px solid #fff;
    border-radius: 8px;
    text-align: left;
    background-color: #ebf8f1;
  }

  #tableTh {
    text-align: center;
    border-radius: 8px;
  }

  #tableUl {
    margin: 10px;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
  }

  /* Video styles */
  video {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    display: block;
    border: 2px solid #ccc;
    border-radius: 10px;
  }

  /* Gallery styles */

  .travelColumn {
    background-color: #00432a;

  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
  }

  .thumbnail {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border: 2px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s;
  }

  .thumbnail:hover {
    transform: scale(1.1);
  }

  /* Preview styles */
  .preview {
    text-align: center;
    margin-top: 20px;
  }

  .preview img {
    max-width: 100%;
    max-height: 400px;
    border: 2px solid #ccc;
    border-radius: 8px;
  }

  #caption {
    margin-top: 10px;
  }

  /* Travel hero images */

  #travelHero1 {
    background-image: url("Images/kish/Kish1.JPG");
  }
  
  #travelHero2 {
    background-image: url("Images/kish/Kish2.JPG");
  }
  
  #travelHero3 {
    background-image: url("Images/kish/Kish3.JPG");
  }
  
  #travelHero4 {
    background-image: url("Images/kish/Kish4.JPG");
  }
  
  #travelHero5 {
    background-image: url("Images/kish/Kish5.JPG");
  }
  
  #travelHero29 {
    background-image: url("Images/Dubai//Dubi1.JPG");
  }
  
  #travelHero30 {
    background-image: url("Images/Dubai/Dubi2.JPG");
  }
  
  #travelHero31 {
    background-image: url("Images/Dubai/Dubi3.JPG");
  }
  
  #travelHero32 {
    background-image: url("Images/Dubai/Dubi4.JPG");
  }
  
  #travelHero33 {
    background-image: url("Images/Dubai/Dubi5.JPG");
  }
  
  #travelHero36 {
    background-image: url("Images/Vancouver/Van1.jpg");
  }
  
  #travelHero37 {
    background-image: url("Images/Vancouver/Van2.jpg");
  }
  
  #travelHero38 {
    background-image: url("Images/Vancouver/Van3.jpg");
  }
  
  #travelHero39 {
    background-image: url("Images/Vancouver/Van4.jpg");
  }
  
  #travelHero40 {
    background-image: url("Images/Vancouver/Van5.jpg");
  }
  
  /* Form styles */
  form {
    margin: 20px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  input[type="text"],
  input[type="email"],
  input[type="date"],
  textarea {
    width: 50%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 15px;
  }

  button {
    background-color: #00432a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    margin: 10px;
  }

  button:hover {
    background-color: #00432a;
  }

  /* Footer styles */
  footer {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    text-align: center;
    line-height: 15px;
    font-size: x-small;
    margin-top: 10px;
    padding: 10px;
    color: #00432a;
  }

  footer p:last-child {
    border-top: 1px solid #ccc;
    padding: 5px 0 0;
    margin: 5px 0 0;
    font-size: x-small;
    color: #00432a;
  }

  /* Highlight */
  .highlight {
    background-color: #5edbad;
  }


}

/* Media queries */
@media (max-width: 600px) {

  /* Body styles */
  body {
    background: linear-gradient(to bottom, #ffffff, #023a24) no-repeat;
    font-family: Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }


  /* Header styles */
  header {
    text-align: center;
    background-color: #00432a;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
  }

  /* Navigation styles */
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 10px 0;
    margin: 0 auto;

  }

  nav ul li {
    margin: 5px 0;
    text-align: center;

  }

  .sidebar {
    margin: 10px 10px 0px 10px;
    padding: 10px;
    background-color: #00432a;
    border-radius: 8px;
    justify-content: center;

  }

  /* Headings */
  h1 {
    font-family: Arial, sans-serif;
    font-size: 2.5em;
    color: #e0f7fa;
  }

  h2 {
    font-family: Arial, sans-serif;
    color: #00432a;
  }

  h3 {
    font-family: Arial, sans-serif;
    color: #00432a;
  }

  #homeH2 {
    font-family: Arial, sans-serif;
    color: #004d40;
    font-size: large;
    text-align: center;
    margin-bottom: 10px;
  }

  /* Containers and sections */

  .section {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px 10px;
    padding: 0px 0px 10px 0px;
    line-height: 25px;
  }

  section:first-of-type {
    padding-bottom: 0px;
  }

  .container {
    display: block;
    padding: 0;
    margin: 15px auto 15px auto;

  }

  .travelLayout {

    padding: 10px 10px 10px 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-top: 10px;

  }

  .contentLayout {
    padding: 15px;
    margin: 15px;
  }

  /* Home Picture */

  #homeHero {
    height: 350px;
    width: auto;
    margin: 15px;
    display: flex;
    border-radius: 8px;
    background-image: url(Images/Bowen\ island\ BC,20220606.jpg);
    background-size: cover;
    background-position: center;
  }

  /* Resume list */
  #resumeLi {
    list-style-type: none;
    margin: 5px;
  }

  #resumeUl {
    margin: 0;
    padding: 0;
  }

  /* Table styles */
  table {
    width: 90%;
    margin: auto;
  }

  #tableRow,
  #tableShadow {
    flex: 1;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border: 1px solid #fff;
    border-radius: 8px;
    text-align: left;
    background-color: #ebf8f1;
  }

  #tableTh {
    text-align: center;
    border-radius: 8px;
  }

  #tableUl {
    margin: 10px;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
  }

  /* Video styles */
  video {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    display: block;
    border: 2px solid #ccc;
    border-radius: 10px;
  }

  /* Gallery styles */

  .travelColumn {
    background-color: #00432a;

  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
  }

  .thumbnail {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border: 2px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s;
  }

  .thumbnail:hover {
    transform: scale(1.1);
  }

  /* Preview styles */
  .preview {
    text-align: center;
    margin-top: 20px;
  }

  .preview img {
    max-width: 100%;
    max-height: 400px;
    border: 2px solid #ccc;
    border-radius: 8px;
  }

  #caption {
    margin-top: 10px;
  }

  /* Travel hero images */

  #travelHero1 {
    background-image: url("Images/kish/Kish1.JPG");
  }
  
  #travelHero2 {
    background-image: url("Images/kish/Kish2.JPG");
  }
  
  #travelHero3 {
    background-image: url("Images/kish/Kish3.JPG");
  }
  
  #travelHero4 {
    background-image: url("Images/kish/Kish4.JPG");
  }
  
  #travelHero5 {
    background-image: url("Images/kish/Kish5.JPG");
  }
  
  #travelHero29 {
    background-image: url("Images/Dubai//Dubi1.JPG");
  }
  
  #travelHero30 {
    background-image: url("Images/Dubai/Dubi2.JPG");
  }
  
  #travelHero31 {
    background-image: url("Images/Dubai/Dubi3.JPG");
  }
  
  #travelHero32 {
    background-image: url("Images/Dubai/Dubi4.JPG");
  }
  
  #travelHero33 {
    background-image: url("Images/Dubai/Dubi5.JPG");
  }
  
  #travelHero36 {
    background-image: url("Images/Vancouver/Van1.jpg");
  }
  
  #travelHero37 {
    background-image: url("Images/Vancouver/Van2.jpg");
  }
  
  #travelHero38 {
    background-image: url("Images/Vancouver/Van3.jpg");
  }
  
  #travelHero39 {
    background-image: url("Images/Vancouver/Van4.jpg");
  }
  
  #travelHero40 {
    background-image: url("Images/Vancouver/Van5.jpg");
  }
  
  /* Form styles */
  form {
    margin: 20px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  input[type="text"],
  input[type="email"],
  input[type="date"],
  textarea {
    width: 50%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 15px;
  }

  button {
    background-color: #00432a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    margin: 10px;
  }

  button:hover {
    background-color: #00432a;
  }

  /* Footer styles */
  footer {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    text-align: center;
    line-height: 15px;
    font-size: x-small;
    margin-top: 10px;
    padding: 10px;
    color: #00432a;
  }

  footer p:last-child {
    border-top: 1px solid #ccc;
    padding: 5px 0 0;
    margin: 5px 0 0;
    font-size: x-small;
    color: #00432a;
  }

  /* Highlight */
  .highlight {
    background-color: #5edbad;
  }

}

/*  */